---
- name: "Create project"
  tower_project:
    name: "{{ autogen }}: {{ autogen_repo_branch }}"
    scm_type: "git"
    organization: "Default"
    scm_update_on_launch: "false"
    scm_branch: "{{ autogen_repo_branch }}"
    scm_url: "{{ autogen_repo_url }}"
    tower_verify_ssl: "false"

- name: "Create job templates"
  tower_job_template:
    name: "module_{{ '{{' }} (playbook.path | basename).split('.')[0] {{ '}}' }}"
    project: "{{ autogen }}: {{ autogen_repo_branch }}"
    playbook: "{{ autogen_path }}/playbooks/{{ '{{' }} playbook.path {{ '}}' }}"
    job_type: "run"
    ask_credential: "true"
    ask_diff_mode: "true"
    ask_limit: "true"
    ask_skip_tags: "true"
    ask_tags: "true"
    ask_job_type: "true"
    ask_inventory: "true"
    ask_extra_vars: "true"
    ask_verbosity: "true"
    tower_verify_ssl: "false"
  when: playbook.state == 'file'
  loop: "{{ '{{' }} q('filetree', autogen_path + '/playbooks/') {{ '}}' }}"
  loop_control:
    loop_var: playbook
    label: "{{ '{{' }} playbook.path {{ '}}' }}"
